{% extends 'main.html' %} {% block content %}


<div class="">
  <div class="absolute top-[2.3rem] left-[50%] translate-x-[-50%]">
    <div class="flex  ">
      <form class="flex bg-white px-2 w-[54rem]  rounded-xl" method="GET" action={% url 'note' lable.id %}>
          <svg class="mt-2 mr-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
          <input class="w-[54rem] p-2 outline outline-0" type="text" name="l" placeholder="Search label note..."/>
          <a href="{% url 'note' lable.id%}">
              
              <svg  class="mt-2 " xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
              </svg>
          </a> 
      </form> 
  </div>
  </div>
  <div class="mb-8" >
    <h1 class="absolute top-[8rem] text-xl text-white font-bold pl-8  p-2 bg-black">{{lable}} Notes </h1>

    <a class="absolute top-[5.2rem] left-6 mt-2 ml-2 flex items-center hover:underline underline-offset-4" href="{% url 'home' %}"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg><span class="text-sm ">All Notes</span></a>
    <form class="flex items-center justify-center mr-40" method="POST" action="">
     
      {% csrf_token %}
      <input class=" border-2 p-2 mt-2 rounded-xl w-[50%] border-gray-500" type="text" name="note" placeholder="Write your {{lable}} notes..." />
    </form>
  </div>
  <div class="mx-16 ">
    {% comment %} <h1>{{ request.path }}</h1> {% endcomment %}

    {% comment %} <div class=" grid grid-cols-3 gap-6 mr-4 ">
      {% for lable_note in lable_notes %}
     
      <div class="border-2 border-gray-300 rounded-xl p-2  hover:border-black ">
        <a href="{% url 'update-note' lable_note.id %}" class="note"
        >  

        <div class="max-h-[25vh] overflow-y-scroll overflow-x-hidden ">{{lable_note}}</div>
        </a
      >
      <div class="flex items-center justify-between pt-2 mr-2">
        <p class="text-sm text-gray-400 inline-block align-bottom"> @{{lable_note.lable}}</p>
        
        <div class="flex justify-end pt-2 mx-4">
          
          <a class="mx-4 border-2 border-white rounded-3xl p-2 hover:border-2 hover:border-black" href={% url 'update-note' lable_note.id %}><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg></a>
          <a class="border-2 border-white rounded-3xl p-2 hover:border-2 hover:border-black" href={% url 'delete-note' lable_note.id %}><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> {% endcomment %}
  <div class="grid grid-cols-3 gap-6 mr-4 ">
    {% for note in lable_notes%}
    {% if request.user == note.user %}
   
    <div class="border-2 border-gray-300 rounded-xl p-2  ">
      <a class="" href="{% url 'update-note' note.id %}">
        <div class="max-h-[25vh] overflow-y-scroll overflow-x-hidden ">{{note}} </div>
      </a>
      <div class="flex items-center justify-between pt-2 ">
<p class=" py-2 text-sm text-gray-400 inline-block align-bottom"> @{{note.lable.lable}}</p>
<div class="flex justify-end pt-2 mx-4">

  <a class="mx-4 border-2 border-white rounded-3xl p-2 hover:border-2 hover:border-black" href="{% url 'update-note' note.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
  </svg></a> 
  <a class="border-2 border-white rounded-3xl p-2 hover:border-2 hover:border-black" href={% url 'delete-note' note.id %}><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
  </svg></a>
</div>
      </div>
      </div>
      {% endif %}
      {% endfor %}
     
  </div>
</div>
</div>
{% endblock content %}
